
            body{
                padding:10px 50px;
                background:rgb(93, 168, 187);
                 color:rgb(35, 19, 80);
            }
            h1
            {
                color:#09385a;
                
            }
            .fromdesign
            {
                font-size:20px;
               
                background-color: #7e8d29;
            }
            .formdesign input{
                border:1px solid lightgreen;
                background-color:lavender;
                border-radius:4px;
                font-size:15px;margin:14px;
            }
            .fromerror{
                color:red;
            }
            .but
            {
                border-radius: 9px;
                width: 90px;
                height: 50px;
                font-size: 25px;
                margin: 22px 20px;
                background: #226899;
            }

        
